@use "../common/vars" as *;
@use "../common/mixins" as *;

.passport_content{
  @extend .main_content;
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  font: $mainFont;
  position: relative;

  p{
    all: unset;
  }

  > section{
    padding: 30px 10% 40px 10%!important;
    @include box-sizing(border-box);
    @include clip-path-both;
    &:nth-child(2n -1){
        background-color: transparentize($textColor, 0.8);
    }
    > * {
      width: clamp(300px, 50%, 600px) !important;
      margin: 0 auto;
    }
  }


  h4{
    font: $headerFont;
  }
  b{
    display: block;
    font: $boldFont;
  }
  ul, ol{
    text-align: left;
  }
}

.none_ul > li{
  list-style: none;
}
.normal_ul > li {
  list-style: disc inside;
}
.decimal_ul > li{
  list-style: decimal inside;
}
.second_ul{
  margin-left: 20px;
  ol li{
    margin-left: 20px;
  }
}
