{block content}
    <div class="schedule_content">
        <h1 class="content_heading">Розклад занять</h1>

        <ul n:snippet="itemsContainer">
            {foreach $list as $id => $item}
                <li n:snippet="$id">
                    {$item}
                    <a class="ajax" n:href="update! $id">обновить</a>
                </li>
            {/foreach}
        </ul>

    </div>
{/block}
